<head>
	<meta charset="utf-8" />
	<title><%= pageTitle %>: Glasgow Goalball</title>

	<meta name="description" content="<%= pageContent %>" >
	<meta name="keywords" content="Goalball Glasgow, Disabled Sport Glasgow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	<link href="css/main-min.css" rel="stylesheet">
</head>
