<aside class="ls-page-side">
  <h2 class="section-title">Social</h2>
  <section class="twitter-section">
    <h3 class="social-title">Follow Us</h3>
    <div class="twitter-link">
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/goalballglasgow?ref_src=twsrc%5Etfw">Tweets by glasgowgoalball</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
  </section>
  <section class="facebook-section">
    <h3 class="social-title">Be a Friend</h3>
    <iframe class="facebook-link" title="Glasgow Goalball Facebook Page" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGlasgowGoalball&tabs=likes&width=300&height=200&small_header=true&hide_cover=true&show_facepile=true&appId"></iframe>
  </section>
</aside>
