<% let filePath = "./site/" + template + ".ejs"; %>


<%- include("./partials/head.ejs",
	{
		pageTitle: pageTitle,
		pageContent: pageContent
	});
%>



<body>

<% include ./partials/svg.ejs %>

<% if (typeof noHeader == 'undefined') { %>
	<%- include("./partials/header.ejs",
		{
			pageTitle: mainTitle,
			currentMenu: currentMenu
		}); %>
<%	} %>


<%- include(filePath) %>


<% if (typeof noSidebar == 'undefined') { %>
	<% include ./partials/sidebar.ejs %>
<% } %>

</main>

<%- include("./partials/footer.ejs",
{
  currentMenu: currentMenu
});
%>

</body>
</html>
