<main id="main" class="ls-main-container">

  <section class="ls-page-section" aria-labelledby="testimonials">
    <h2 class="section-title" id="testimonials">Why joining us?</h2>

    <p>A few words from some of the Glasgow Goalball members, explaining what they like about Goalball.</p>

    <article class="article">
      <p class="testimonial bubble">
        " I love playing goalball because I love being part of a team, the camaraderie, support and the motivation we have to improve our skills as a team. "
      </p>
      <p class="testimonial-author">Andrea</p>
    </article>

    <article class="article">
      <p class="testimonial">
        " When you have a visual impairment it is not always easy to mix with other people who experience the same challenges and frustrations that you face. Goalball is a place where you can come together with other people who understand and have a laugh and talk to people who understand the little things that make life a bit more difficult at times. We share an interest, get fitter, have fun and for a while I can forget that I have a condition that other people who I interact with on daily basis don't have or don't fully understand. "
      </p>
      <p class="testimonial-author">Mark</p>
    </article>


    <article>
      <p class="testimonial">
        " I practice to keep fit in a unique sport that encourages communication and coordination. I love learning and goalball has many subtle aspects that keep me guessing while I build up my game and my confidence. "
      </p>
      <p class="testimonial-author">Lorna</p>
    </article>

    <article>
      <p class="testimonial">
        " I love playing goalball as it allows me to participate with other visually impaired people. I also enjoy the competitive nature of playing in competitions to test my skills against different teams. "
      </p>
      <p class="testimonial-author">Graeme</p>
    </article>
  </section>



  <section class="ls-page-section" aria-labelledby="interview">
    <h2 class="section-title" id="interview">Interview</h2>
    <p>An interview of Alan Lewis, member of the Glasgow Goalball team for RNIB</p>
    <audio class="audio" controls src="media/alan.mp3"></audio>
  </section>



  <section class="ls-page-section" aria-labelledby="practical">
    <h2 class="section-title" id="practical">Practical info</h2>
    <p>Glasgow goal ball classes are held fortnightly on a Monday evening from 18:30 – 20:30.</p>
    <p>We meet up every two weeks on Monday evening and the participation fee is £5 for the rental of the hall.</p>
    <p>You will need comfortable sports wear for example: a long sleeved sports top with track suit bottoms and trainers are typically worn.</p>
    <p>The club provides the goal ball, knee pads, elbow pads, and black out masks.</p>
  </section>
